@import "../../styles/global.scss";

.projectsContainer {
	width: 100%;
	padding: 5rem 0;
	align-items: center;

	h2 {
		text-align: center;
		color: $text-color;
	}

	hr {
		margin-left: auto;
		margin-right: auto;
	}

	.cardsContainer {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-gap: 1rem 6rem;
		justify-items: center;
	}

	.buttonContainer {
		text-align: center;

		.button {
			border: none;
			height: 3rem;
			width: 15rem;
			border-radius: 0.5rem;
			background-color: $primary-dark;
			box-shadow: $drop-shadow;
			color: $text-color;
			cursor: pointer;
			transition: 1s;

			font-weight: 600;
			font-size: 0.85rem;
			line-height: 1.125rem;

			&:hover {
				box-shadow: $neon;
			}
		}
	}
}
