@import "../../styles/global.scss";

.projectsContainer {
	width: 100%;
	padding: 1.5rem 0;
	align-items: center;

	h2 {
		text-align: center;
		color: $text-color;
	}

	hr {
		margin-left: auto;
		margin-right: auto;
	}
}

.card {
	background-color: $background-2;
	height: 18.125rem;
	width: 18.125rem;
	padding: 1rem;
	border-radius: 0.625rem;
	box-shadow: $drop-shadow;

	.icons {
		width: 100%;
		display: inline-flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	.fill {
		filter: drop-shadow($neon);
	}
}
