@import "../../style.scss";

header {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	padding: 24px 0;
	align-items: center;
}

img {
	height: 29px;
	padding: 12px 30px;
	background-color: $background-2;
	border-radius: 8px;
	box-shadow: $drop-shadow;
	transition: 1s;

	&:hover {
		box-shadow: $neon;
	}
}

nav {
	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			display: inline;

			a {
				margin-left: 50px;
				display: inline-block;
				transition: 1s;

				&:hover {
					text-shadow: $neon;
				}
			}
		}
	}
}

.contact {
	padding: 12px 30px 12px 30px;
	background-color: $background-2;
	box-shadow: $drop-shadow;
	border-radius: 8px;
	color: $primary-default;
	transition: 1s;

	&:hover {
		box-shadow: $neon;
	}
}
