@import "../../styles/global.scss";

.headerContainer {
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
	padding: 1.5rem 0;
	align-items: center;
}

.logo {
	width: 6rem;
	height: 1.875rem;
	padding: 0.75rem 0.75rem;
	background-color: $background-2;
	border-radius: 0.5rem;
	box-shadow: $drop-shadow;
	transition: 1s;

	&:hover {
		box-shadow: $neon;
	}
}

.menu {
	ul {
		list-style: none;

		li {
			display: inline;

			a {
				margin-left: 3.125rem;
				display: inline-block;
				transition: 1s;

				&:hover {
					text-shadow: $neon;
				}
			}
		}
	}
}

.contact {
	padding: 0.75rem 1.875rem;
	background-color: $background-2;
	box-shadow: $drop-shadow;
	border-radius: 0.5rem;
	color: $primary-default;
	transition: 1s;

	&:hover {
		box-shadow: $neon;
	}
}
