@import "../../styles/global.scss";

.container {
	display: flex;
	padding-top: 10rem;
	padding-bottom: 5rem;
	flex-direction: column;
	align-items: center;

	.title {
		color: $text-color;
	}

	.subtitle {
		color: $primary-default;
		text-shadow: $neon;
	}

	.buttonContainer {
		display: flex;
		align-items: center;
		justify-content: space-around;

		height: 3rem;
		width: 15rem;
		background-color: $primary-dark;
		margin-top: 2rem;
		border: none;
		border-radius: 0.5rem;
		box-shadow: $drop-shadow;
		cursor: pointer;
		transition: 1s;

		.button {
			padding: 1rem 4.3rem;
			color: $text-color;
			font-weight: 600;
			font-size: 0.85rem;
			line-height: 1.125rem;
		}
		&:hover {
			box-shadow: $neon;
		}
	}
}
