@import "../../styles/global.scss";

.container {
	text-align: center;
	padding-top: 10rem;
	padding-bottom: 5rem;
}

.title {
	color: $text-color;
}

.subtitle {
	color: $primary-default;
	text-shadow: $neon;
}

.button {
	margin-top: 2.5rem;
	border: none;
	height: 3rem;
	width: 15rem;
	border-radius: 0.5rem;
	background-color: $primary-dark;
	box-shadow: $drop-shadow;
	color: $text-color;
	cursor: pointer;
	transition: 1s;

	font-weight: 600;
	font-size: 0.85rem;
	line-height: 1.125rem;

	&:hover {
		box-shadow: $neon;
	}
}
