@import "../../../styles/global.scss";

.container {
	display: flex;
	position: fixed;
	right: 1.75rem;
	bottom: -1rem;
	z-index: 10;
	flex-direction: column;
	align-items: center;

	a {
		writing-mode: vertical-rl;
		color: $text-color;
		transition: 1s;
		cursor: pointer;
		margin-bottom: 1rem;
		&:hover {
			color: $primary-default;
			filter: drop-shadow(1px 1px 5px rgba(76, 140, 74, 0.25));
		}
	}

	hr {
		background-color: $text-color;
		box-shadow: $drop-shadow;
		width: 0.35rem;
		height: 5rem;
		margin: 0;
		cursor: pointer;
		transition: 1s;

		&:hover {
			background-color: $primary-default;
			box-shadow: $drop-shadow;
			height: 7.5rem;
		}
	}
}

@media (max-width: 425px) {
	.container {
		display: none;
	}
}
